<h1>How does it work?</h1>

<h2>On the venue side</h2>

<ul>
	<li><a href="mailto:contact@moodstocks.com">install</a> the CheckMeIn iPad app on an iPad 2 (with a front facing camera),</li>
	<li>connect the device to a WiFi,</li>
	<li>configure the venue (at first launch).</li>
</ul>

<h2>On the end-user side</h2>

<ul>
	<li><a href="/">connect</a> to foursquare,</li>
	<li>display your foursquare profile pic on your iPhone screen,</li>
	<li>scan the profile pic with the iPad app (put your iPhone in front of the camera).</li>
</ul>
