<h1>The best check-in experience ever!</h1>

<p>iPad app for local businesses willing to provide their customers with the best check-in experience ever. It's blazing fast and works off-line!</p>

<p>
<a href="{{redirect_url}}"><img src="/img/fsqconnect.png" /></a>
</p>
