<h1>The ultimate check-in experience!</h1>

<center>
<iframe width="560" height="315" src="http://www.youtube.com/embed/AE01Op9n2Qk" frameborder="0" allowfullscreen></iframe>
</center>

<p>CheckMeIn is an iPad app for businesses willing to provide their customers with the best check-in experience. Customers just have to point their profile pic to the iPad to instantaneously check-in. No connection is required on the customers' side (<a href="/about">more</a>).</p>
<br/>
<p>
<a href="{{redirect_url}}"><img style="border:0;" src="/img/fsqconnect.png" /></a>
</p>
