<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css" media="screen"/>
	<link rel="icon" href="/img/favicon.ico">
  </head>
  <body>
    <div id="container">
      <div id="header" title="Check Me In">Check Me In</div>
      {{{yield}}}
      <div id="footer">
	    By <a href="http://fr.linkedin.com/in/mendesantonio" target="_blank">Antonio Mendes Pinto</a>, <a href="http://about.me/deltheil" target="_blank">Cédric Deltheil</a> &amp; <a href="http://dfbrule.com/" target="_blank">Denis Brulé</a> | <a href="/about">About</a> | <a href="/toolbox">Toolbox</a> | <a href="/next">Coming soon</a>
      </div>
    </div>
  </body>
</html>
