<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link href="/css/base.css" rel="stylesheet" type="text/css" media="screen"/>
  </head>
  <body>
    <div id="container">
      <div id="header" title="Check Me In"> </div>
      {{{yield}}}
    </div>
  </body>
</html>
