<h1>What's next?</h1>

<p>Below are some cool features we couldn't implement due to a lack of time. If you have some more ideas feel free to let us know or implement them on your own by forking our <a href="https://github.com/Moodstocks/checkmein" target="_blank">Github repository</a> and sending pull requests:</p>

<ul>
	<li>Display tips on the homepage,</li>
	<li>Launch the scanner with <a href="http://labs.steren.fr/2010/12/16/no-touch-screen/" target="_blank">touchless gesture recognition</a>,</li>
	<li>Leave a tip after checking-in,</li>
	<li>Show all CheckMeIn enabled venues on a Google map,</li>
	<li>Release an iPhone app to configure the check-in visual and access it off-line,</li>
	<li>Integrate CheckMeIn with cool services such as <a href="http://aweeklydigest.com" target="_blank">a weekly digest</a> or <a href="http://captur.io" target="_blank">captur.io</a>,</li>
	<li>Develop a setting section to let venues manage the location easily.</li>
</ul>
