<h1>What did we use?</h1>

<p>For the record we build the CheckMeIn app during the 36-hours <a href="http://blog.foursquare.com/2011/09/09/the-global-hackathon-is-in-a-week-sign-up-now/" target="_blank">Foursquare Hackathon</a> in Paris. It is open source: you can find the code on <a href="https://github.com/Moodstocks/checkmein" target="_blank">github</a>. Below are the tools we used:</p>

<h2>APIs</h2>

<ul>
	<li><a href="https://developer.foursquare.com/" target="_blank">Foursquare API</a>,</li>
	<li><a href="http://www.moodstocks.com/" target="_blank">Moodstocks API</a>.</li>
</ul>

<h2>Source management</h2>

<ul>
	<li><a href="http://git-scm.com/" target="_blank">git</a>,</li>
	<li><a href="http://gitx.frim.nl/" target="_blank">GitX</a>,</li>
	<li><a href="https://github.com/" target="_blank">github</a>.</li>
</ul>

<h2>Client</h2>

<ul>
	<li><a href="http://allseeing-i.com/ASIHTTPRequest/" target="_blank">ASIHTTPRequest</a>,</li>
	<li><a href="https://github.com/jdg/MBProgressHUD" target="_blank">MBProgressHUD</a>,</li>
	<li><a href="http://stig.github.com/json-framework/" target="_blank">SBJson</a>,</li>
	<li><a href="https://github.com/enormego/EGOImageLoading" target="_blank">EGOImageLoading</a>.</li>
</ul>

<h2>Server</h2>

<ul>
	<li><a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a>,</li>
	<li><a href="http://mustache.github.com/" target="_blank">&#123;&#123;&nbsp;mustache&nbsp;&#125;&#125;</a>,</li>
	<li><a href="http://redis.io/" target="_blank">redis</a>,</li>
	<li><a href="http://ohm.keyvalue.org/" target="_blank">Ohm</a>,</li>
	<li><a href="https://github.com/jnunemaker/httparty" target="_blank">httparty</a>,</li>
	<li><a href="https://github.com/matthunter/foursquare-ruby-example" target="_blank">foursquare-ruby-example</a>.</li>
</ul>
